---
http_interactions:
- request:
    method: get
    uri: https://api.flickr.com/services/rest/?api_key=<YOUR FLICKR API KEY HERE>&extras=url_o&format=json&lat=37.8267&lon=-122.4233&method=flickr.photos.search&nojsoncallback=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Public-Key-Pins-Report-Only:
      - max-age=2592000; pin-sha256="2fRAUXyxl4A1/XHrKNBmc8bTkzA7y4FB/GLJuNAzCqY=";
        pin-sha256="I/Lt/z7ekCWanjD0Cvj5EqXls2lOaThEA0H2Bg4BT/o="; pin-sha256="Wd8xe/qfTwq3ylFNd3IpaqLHZbh2ZNCLluVzmeNkcpw=";
        pin-sha256="WoiWRyIOVNa9ihaBciRSC7XHjliYS9VwUGOIud4PB18="; pin-sha256="i7WTqTvh0OioIruIfFR4kMPnBqrS2rdiVPl/s2uC/CY=";
        pin-sha256="r/mIkG3eEpVdm+u/ko/cwxzOMo1bk4TyHIlByibiA5E="; pin-sha256="uUwZgwDOxcBXrQcntwu+kYFpkiVkOaezL0WYEZ3anJc=";
        pin-sha256="dolnbtzEBnELx/9lOEQ22e6OZO/QNb6VSSX2XHA3E7A="; includeSubdomains;
        report-uri="http://csp.yahoo.com/beacon/csp?src=yahoocom-hpkp-report-only"
    body:
      encoding: ASCII-8BIT
      string: '{"photos":{"page":1,"pages":828,"perpage":250,"total":"206804","photo":[{"id":"45735375871","owner":"31603030@N08","secret":"d58d963f6b","server":"1968","farm":2,"title":"Dichorisandra
        thyrsiflora Blue Ginger flowers Conservatory of Flowers in San Francisco''s
        Golden Gate Park cropped image 181006-145734 cw80 C5B","ispublic":1,"isfriend":0,"isfamily":0,"url_o":"https:\/\/farm2.staticflickr.com\/1968\/45735375871_c4cbdfd003_o.jpg","height_o":"2226","width_o":"3116"},{"id":"45685041422","owner":"31603030@N08","secret":"60d5436911","server":"1926","farm":2,"title":"Dichorisandra
        thyrsiflora Blue Ginger flowers Conservatory of Flowers in San Francisco''s
        Golden Gate Park original vertical image 181006-145734 cw80 C5A","ispublic":1,"isfriend":0,"isfamily":0,"url_o":"https:\/\/farm2.staticflickr.com\/1926\/45685041422_3596744fa6_o.jpg","height_o":"4484","width_o":"3203"},{"id":"43917688310","owner":"17309950@N00","secret":"1ab4605538","se[...]
